module Pangram (..) where

import String exposing (toLower, contains, fromChar)


isPangram : String -> Bool
isPangram sentence =
  let
    normalized =
      toLower sentence
  in
    String.all (\c -> contains (fromChar c) normalized) alphabet


alphabet : String
alphabet =
  "abcdefghijklmnopqrstuvwxyz"
