module NucleotideCount (nucleotideCounts, version) where

import Dict
import String


version =
  2


empty =
  Dict.fromList [ ( 'A', 0 ), ( 'C', 0 ), ( 'G', 0 ), ( 'T', 0 ) ]


nucleotideCounts : String -> Dict.Dict Char Int
nucleotideCounts dna =
  String.foldl count empty dna


count : comparable -> Dict.Dict comparable Int -> Dict.Dict comparable Int
count item counts =
  Dict.update item incrMaybe counts


incrMaybe : Maybe Int -> Maybe Int
incrMaybe maybe =
  (Maybe.withDefault 0 maybe) + 1 |> Just
