name: elm / pr

on:
  pull_request:
  push:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]

    steps:
      - name: Checkout PR
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install elm + tools and cache the ELM_HOME directory
        uses: mpizenberg/elm-tooling-action@289c229bc9d81512230e8b827df4c78398e08113
        with:
          cache-key: elm-${{ matrix.node-version }}-${{ hashFiles('elm-tooling.json', 'template/elm.json') }}
          cache-restore-key: elm-${{ matrix.node-version }}

      - name: Check that everything is alright
        run: bin/build.sh

  elm-test-runner:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout exercism/elm
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Run tests for all exercises
        run: bin/run-all-exercises-in-docker.sh

  elm-analyzer:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout exercism/elm
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Run tests for all exercises
        run: bin/analyze-all-exercises-in-docker.sh
